.remark-slide-number {
  position: inherit;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: navy;
}

.title-slide {
	background-image: url("background1.png");
  background-size: cover; 
}

.title-slide h1 {
  text-align: center;
  font-family: arial;
  font-weight: bold;
  font-size: 36pt;
  color: black;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -10px;
  margin-left: -10px;
}

.title-slide h2 {
 text-align: center;
 font-family: arial;
 font-weight: bold;
 font-size: 24pt;
 color: black;
 position: fixed;
 top: 60%;
 left: 50%;
 transform: translate(-50%, -50%);
  margin-right: -10px;
  margin-left: -10px;
}

.title-slide h3 {
 text-align: center;
 font-family: arial;
 font-weight: normal;
 font-size: 15pt;
 color: black;
 position: fixed;
 top: 80%;
 left: 50%;
 transform: translate(-50%, -50%);
  margin-right: -10px;
  margin-left: -10px;
}

.title-slide h4 {
 text-align: center;
 font-family: arial;
 font-weight: normal;
 font-size: 15pt;
 color: black;
 position: fixed;
 top: 85%;
 left: 50%;
 transform: translate(-50%, -50%);
  margin-right: -10px;
  margin-left: -10px;
}

.title-slide h5 {
 text-align: center;
 font-family: arial;
 font-weight: normal;
 font-size: 15pt;
 color: black;
 position: fixed;
 top: 90%;
 left: 50%;
 transform: translate(-50%, -50%);
  margin-right: -10px;
  margin-left: -10px;
}

.title-slide .remark-slide-number {
	display: none;
}

.intro-slide  {
	background-image: url("background1.png");
	background-size: cover;
	font-style: normal;
  font-family: arial;
}

.intro-slide h3 {
 text-align: center;
 font-family: arial;
 font-weight: normal;
 font-size: 10pt;
 color: black;
 top: 95%;
}

.third-slide  {
	background-image: url("background1.png");
	background-size: cover;
	font-style: normal;
  font-family: arial;
}

.third-slide .emphasized {
  font-size: 1.2em;
}

.fourth-slide  {
	background-image: url("background1.png");
	background-size: cover;
	font-style: normal;
  font-family: arial;
}

.fifth-slide  {
	background-image: url("background1.png");
	background-size: cover;
	font-style: normal;
  font-family: arial;
}

.sixth-slide  {
	background-image: url("background1.png");
	background-size: cover;
	font-style: normal;
  font-family: arial;
}

.seventh-slide  {
	background-image: url("background1.png");
	background-size: cover;
	font-style: normal;
  font-family: arial;
}

.eighth-slide  {
	background-image: url("background1.png");
	background-size: cover;
	font-style: normal;
  font-family: arial;
}

.ninth-slide {
	background-image: url("background1.png");
	background-size: cover;
	font-style: normal;
  font-family: arial;
}

.tenth-slide {
	background-image: url("background1.png");
	background-size: cover;
	font-style: normal;
  font-family: arial;
}

.eleventh-slide {
	background-image: url("background1.png");
	background-size: cover;
	font-style: normal;
  font-family: arial;
}

.conclusion-slide {
	background-image: url("background1.png");
	background-size: cover;
	font-style: normal;
  font-family: arial;
}
