.gdbar img {
	width: 150px !important;
	height: 80px !important;
	margin: 9px 9px;
}

.gdbar {
	width: 200px !important;
	heigth: 170px !important;
}

slides > slide:not(.nobackground):before {
  width: 150px;
  height: 75px;
  background-size: 150px 75px;
}
